<% ship_form.object.line_item_manifest.each do |item| %>
  <tr class="stock-item">
    <td class="item-image"><%= mini_image(item.variant) %></td>
    <td class="item-name">
      <%= item.variant.name %>
      <%= render 'spree/orders/cart_description', variant: item.variant, line_item: item.line_item %>
    </td>
    <td class="item-qty">
      <% if item.line_item.product.assembly? %>
        <%= item.line_item.quantity %>
      <% else %>
        <%= item.quantity %>
      <% end %>
    </td>
    <td class="item-price"><%= item.line_item.single_money %></td>
  </tr>
<% end %>
