<% if order.line_items.assemblies.any? %>
  <fieldset class="no-border-bottom">
    <legend align="center" class="" data-hook="">
      <%= Spree.t(:product_bundles) %>
    </legend>
  </fieldset>

  <table class="product-bundles" data-hook="">
    <colgroup>
      <col style="width: 10%;" />
      <col style="width: 30%;" />
      <col style="width: 15%;" />
      <col style="width: 15%;" />
      <col style="width: 15%;" />
      <col style="width: 15%;" />
    </colgroup>

    <thead>
      <th colspan="2"><%= Spree.t(:item_description) %></th>
      <th><%= Spree.t(:price) %></th>
      <th><%= Spree.t(:quantity) %></th>
      <th><%= Spree.t(:total) %></th>
      <th class="orders-actions actions" data-hook="admin_order_form_line_items_header_actions"></th>
    </thead>

    <% order.line_items.assemblies.each do |item| %>
      <tbody>
        <tr class="" data-item-quantity="<%= item.quantity %>">
          <td class="item-image"><%= mini_image(item.variant) %></td>
          <td class="item-name">
            <%= item.product.name %> - <%= item.variant.sku %> <br />
            <%= "(" + variant_options(item.variant) + ")" unless item.variant.option_values.empty? %>
          </td>
          <td class="item-price align-center">
            <%= item.single_money.to_html %>
          </td>
          <td class="item-qty-show align-center">
            <%= item.quantity %>
          </td>

          <td class="item-qty-edit hidden">
            <%= number_field_tag :quantity, item.quantity, :min => 0, :class => "line_item_quantity", :size => 5 %>
          </td>

          <td class="item-total align-center">
            <%= item.display_amount.to_html %>
          </td>
          <td class="cart-item-delete actions" data-hook="cart_item_delete">
            <% unless item.any_units_shipped? %>
              <% if can? :update, item %>
                <%= link_to '', [:admin, @order, item], :class => 'save-line-item icon_link icon-ok no-text with-tip',
                  :title => Spree.t('actions.save'), :style => 'display: none' %>
                <%= link_to '', '#', :class => 'cancel-line-item icon_link icon-cancel no-text with-tip',
                  :title => Spree.t('actions.cancel'), :style => 'display: none' %>
                <%= link_to '', '#', :class => 'edit-line-item icon_link icon-edit no-text with-tip',
                  :title => Spree.t('edit') %>
                <%= link_to '', [:admin, @order, item], :class => 'delete-line-item icon-trash no-text with-tip',
                  data: { confirm: Spree.t(:are_you_sure) }, :title => Spree.t('delete') %>
              <% end %>
            <% end %>
          </td>
        </tr>
      </tbody>
    <% end %>
  </table>
<% end %>
