<%= render 'stock_item', shipment: shipment %>

<% unless shipment.shipped? %>
  <tr class="edit-method hidden total">
    <td colspan="5">
      <div class="field alpha five columns">
        <%= label_tag 'selected_shipping_rate_id', Spree.t(:shipping_method) %>
        <%= select_tag :selected_shipping_rate_id,
              options_for_select(shipment.shipping_rates.map {|sr| ["#{sr.name} #{sr.display_price}", sr.id] }, shipment.selected_shipping_rate_id),
              {:class => 'select2 fullwidth', :data => {'shipment-number' => shipment.number } } %>
      </div>
    </td>
    <td class="actions">
      <% if can? :update, shipment %>
        <%= link_to '', '#', :class => 'save-method fa fa-ok no-text with-tip',
          :data => {'shipment-number' => shipment.number, :action => 'save'}, title: Spree.t('actions.save') %>
        <%= link_to '', '#', :class => 'cancel-method fa fa-cancel no-text with-tip',
          :data => {:action => 'cancel'}, :title => Spree.t('actions.cancel') %>
      <% end %>
    </td>
  </tr>
<% end %>

<tr class="show-method total">
  <% if shipment.shipping_method %>
    <td colspan="4">
      <strong><%= shipment.shipping_method.name %></strong>
    </td>
    <td class="total" align="center">
      <span><%= shipment.display_cost %></span>
    </td>
  <% else %>
    <td colspan='5'><%= Spree.t(:no_shipping_method_selected) %></td>
  <% end %>

  <td class="actions">
    <% if can? :update, shipment %>
      <%= link_to '', '#', :class => 'edit-method fa fa-edit no-text with-tip', :data => {:action => 'edit'}, :title => Spree.t('edit') %>
    <% end %>
  </td>
</tr>

<tr class="edit-tracking hidden total">
  <td colspan="5">
    <label><%= Spree.t(:tracking_number) %>:</label>
    <%= text_field_tag :tracking, shipment.tracking %>
  </td>
  <td class="actions">
    <% if can? :update, shipment %>
      <%= link_to '', '#', :class => 'save-tracking fa fa-ok no-text with-tip', :data => {'shipment-number' => shipment.number, :action => 'save'}, :title => Spree.t('actions.save') %>
      <%= link_to '', '#', :class => 'cancel-tracking fa fa-cancel no-text with-tip', :data => {:action => 'cancel'}, :title => Spree.t('actions.cancel') %>
    <% end %>
  </td>
</tr>

<tr class="show-tracking total">
  <td colspan="5">
    <% if shipment.tracking.present? %>
      <strong><%= Spree.t(:tracking) %>:</strong> <%= shipment.tracking %>
    <% else %>
      <%= Spree.t(:no_tracking_present) %>
    <% end %>
  </td>
  <td class="actions">
    <% if can? :update, shipment %>
      <%= link_to '', '#', :class => 'edit-tracking fa fa-edit no-text with-tip', :data => {:action => 'edit'}, :title => Spree.t('edit') %>
    <% end %>
  </td>
</tr>
