<table class="index">
  <thead>
  	<tr>
  	  <th><%= Spree.t(:sku) %></th>
  		<th><%= Spree.t(:name) %></th>
  		<th><%= Spree.t(:options) %></th>
  		<th><%= Spree.t(:qty) %></th>
  	</tr>
  </thead>
  <tbody>
    <% parts.each do |part| %>
      <tr id="<%= dom_id(part, :sel)%>">
        <td><%= part.sku %></td>
        <td><%= part.product.name %></td>
        <td><%= variant_options part %></td>
        <td><%= text_field_tag :count, @product.count_of(part) %></td>
  	    <td class="actions">
          <%= image_tag "spinner.gif", :style => "display:none", :class => "spinner" %>
          <%= link_to(icon('edit'),
                      set_count_admin_product_part_url(@product, part),
                      :class => "set_count_admin_product_part_link save-line-item fa fa-ok no-text") %>

          <%= link_to(icon('delete'), 
                      remove_admin_product_part_url(@product, part),
                      :class => "remove_admin_product_part_link delete-line-item fa fa-trash no-text") %>             
  	    </td>        
      </tr>
    <% end %>
    <% if parts.empty? %>
     <tr><td colspan="5"><%= Spree.t(:none) %>.</td></tr>
    <% end %>
  </tbody>
</table>
<%= javascript_tag("subscribe_product_part_links();") if request.xhr? %>
